<%# const dados = [1, 2, 3, 4, 5]; for (let i = 0; i < dados.length; i++) { %>
<%# console.log(dados[i]);} // Imprime cada elemento do array } %>
<table>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Celular</th>
      <th scope="col">Senha</th>
    </tr>
  </thead>

  <tbody>
    <% for (let i = 0; i < dados.length ; i++) { %>
    <tr <%= dados[i].id ? `style="color: whitw; font-style: bold;" ` : `` %>>
      <td><%= dados[i].id %></td>
      <td><%= dados[i].username %></td>
      <td><%= dados[i].email%></td>
      <td><%= dados[i].celular %></td>
      <td><%= dados[i].password %></td>
    </tr>
    <% } %>
    <%# index++; }; %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="5" style="font-size: 16px;"><%= `Usuários registrados: ${dados.lenght}` %></th>
    </tr>
  </tfoot>
</table>